<%- include('../../block/admin/head') %>

<body class="g-sidenav-show  bg-gray-200">

<%- include('../../block/admin/aside') %>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

<%- include('../../block/admin/nav') %>

<div class="container-fluid py-4">

<%- body %>

<%- include('../../block/admin/footer') %>

</div>

</main>

<%- include('../../block/admin/fixed') %>

<%- include('../../block/admin/scripts') %>

</body>
</html>